@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

body{
  height: 100%;
  width: 100%;
  margin: 0;
  
  
}
nav{
  top: 0%;
  position: absolute ;
  
}
.main-section{
  background-image: url("https://images.unsplash.com/photo-1436397543931-01c4a5162bdb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/* container section */


/* Container Div. */

.image-container{
      min-width: 50vh;
      height: auto;
      /* min-width: 100vh; */
      width:auto;
      max-width: 60rem;
      background: url(/pexels-steve-johnson-1532704.jpg);
      border:  transparent;
      border-radius: 2rem;
      position: relative;
      box-shadow: 0 0 20px #333;
      margin-left: 2rem;
     margin-right: 2rem;
    }
    
    .slides{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }

    .button-left {
      min-height: 5vh;
      min-width: 5vh;
      position: absolute;
      top: 50%;
      left: 0;
      background: transparent;
      color:white ;
      transform: translate(-50%, -50%);
      border: 0.2rem solid white;
      font-size: 4rem; 
      border-radius: 1rem;     
}

.button-left:hover{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.8);
}

.button-right{
  min-height: 5vh;
  min-width: 5vh;
  position: absolute;
  top: 50%;
  right: 0%;
  background: transparent;
  color:white ;
  transform: translate(50%,-50%);
  border: 0.2rem solid white
  ;
  border-radius: 1rem;
  font-size: 4rem;
}
.button-right:hover{
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.8);
}


.admin{
  margin-top: 2rem;
  font-size: 3rem;
  color: rgb(25, 36, 37,0.8);
  text-shadow: 1px 1px rgb(25, 36, 37,0.2);
  font-family: 'Qahiri', sans-serif;
}